.circle-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 20px solid #5B456E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container .circle-container-cap {
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 3px 1px 8px 0px #00000094;
}
.skill {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 5px;
    border:solid 9px #3E9E9E;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #3f3c42;
}
.skill .innerCircle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    box-shadow: 3px 1px 8px 0px #00000094;
    z-index: -1;
}
.skill .circleOuter {
    position: absolute;
    width: 10px;
    height: 10px;
    border: solid 2px #dbdb81;
    border-radius: 50%;
    background: #63376f;
    top: 66px;
    left: -15px;
    box-shadow: none;
    z-index: -1;
}
.skill img {
    width: 40px;
    height: 23px;
    margin:0px 10px;
}
.skill.left {
    flex-direction: row-reverse;
    text-align: right;
}
.skill.right {
    text-align: left;
}
@media (max-width: 600px) {
    body {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .circle-container {
        display: none;
    }
    .list-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .list-item {
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .list-item img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
}